{{ define "main" }}

{{- if (and .Site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

<!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

<div class="post-content">
    <ul>
        <!-- Ranges through content/posts/*.md -->
        {{- range .Pages.ByTitle }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a> ({{ .WordCount }} words)
            </li>
        {{- end }}
    </ul>
</div>


{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}